/* index page style */
body {
    margin: 0;
    padding: 0;
    font-family: "Bungee", cursive;
    color: #333333;
}

.container{

    height:100vh;
}

.wrapper {
    display: flex;
    height: 100%;
}

.content-container {
    margin: auto;
}

.link-wrapper {
    padding: 16px 0;
}

.link {
    font-size: 48px;
    font-weight: 100px;
    text-decoration: none;
    color: #cecece;
    vertical-align:middle;
}

.link i {
    font-size: 18px;
    vertical-align: middle;
}

.link:hover {
    color: #333333;
}

.copyright-container {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.copyright {
    font-family: "Monofett", cursive;
    text-align:center;
    color: #cecece;
    font-size: 24px;
}
/* index page style */
/* mayhem page style */

.container-mayhem {
    height: 100vh;
    display: flex;
    flex-direction:column;
}

.wrapper-mayhem {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.circle-top {
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding: 12px;
}

.circle-bottom {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}

.circle {
    height:12px;
    width:12px;
    background-color:#333333;
    border-radius: 100%;
}
/* mayhem page style */